#header {
    background-color: lightcoral;
    background-size: 100% 100%;
}

div.col1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 60px;
    float: right;
    opacity: 1;
}

img.Movie_Img {
    border-radius: 5px;
    border: 2px solid darkgrey;
}

div.col2_body {
    margin-top: 35px;
}

h1.movie_title {
    font-weight: bolder;
    color: white;
    font-size: 50pt;
}

img.rating_star {
    position: relative;
    bottom: 4px;
    width: 23pt;
    height: 23pt;
}

span.ratings {
    font-weight: bolder;
    color: white;
    font-size: 23pt;
}

a.view_rating {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

a.view_rating:link {
    color: white;
    text-decoration: none;
}

a.view_rating:visited {
    color: white;
    text-decoration: none;
}

a.view_rating:hover {
    color: white;
}

a.view_rating:active {
    color: white;
    text-decoration: none;
}

a:link,
a:visited {
    text-decoration: none;
}

div.add_rating {
    background-color: rgb(55, 54, 54);
    border-radius: 5px;
    margin-top: 15px;
}

div.add_text {
    padding: 12px;
}

button.rating_button {
    padding: 6px;
    font-size: 24px;
    float: right;
    margin: 12px 5px;
}

a.view_rating {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

a.add_rating_button {
    color: black;
    text-decoration: none;
}

a.add_rating_button:visited {
    color: black;
    text-decoration: none;
}

a.add_rating_button:hover {
    color: black;
}

a.add_rating_button:active {
    color: black;
    text-decoration: none;
}

div.categories {
    color: white;
    font-size: 12pt;
}

button.Book_Now {
    padding: 12px 75px;
    font-size: 20pt;
    border-radius: 8px;
    background-color: rgb(255, 23, 23)
}

a.booking_button {
    color: white;
    text-decoration: none;
}

a.booking_button:visited {
    color: white;
    text-decoration: none;
}

a.booking_button:hover {
    color: white;
}

a.booking_button:active {
    color: white;
    text-decoration: none;
}

button.share {
    margin-left: 140px;
    padding: 13px;
    float: left;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    background-color: gray;
}

div.content_body {
    margin-left: 135px;
}

h1.title {
    font-weight: bold;
}

p.description {
    font-size: 14pt;
}

hr.horizontal_line {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;

}

img.cast {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: right;
}

figure.cast_fig {
    display: inline-block;
    margin: 10px;
}

figcaption.img_caption {
    font-size: 15pt;
    text-align: center;
}

figure.movie_fig1 {
    display: inline-block;
    margin-top: 10px;
}

figure.movie_fig {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

figcaption.movie_caption {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

div.logo-container {
    text-align: center;
}

img.logo {
    height: 100px;
    width: auto;
    vertical-align: middle;
}

div.footer {
    text-align: center;
    padding: 30px;
    font-size: 15pt;
}

img.follow_img {
    height: 75px;
    border-radius: 15px;
    width: auto;
    vertical-align: middle;
    margin: 15px;
}